---
layout: default
---
<article class="post">
  <header class="post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y年%m月%d日' }}</time>
    </p>
    {% if page.affiliate %}
    <p class="post__affiliate-notice">この記事はアフィリエイト広告を含みます。</p>
    {% endif %}
  </header>
  <div class="post__body">
    {{ content }}
  </div>
  <nav class="post__nav">
    <a href="{{ '/' | relative_url }}">記事一覧へ戻る</a>
  </nav>
</article>
